body{
  color: #222;
}

main{
  padding: 10px;
  max-width: 500px;
  margin: 0 auto;
}

header{
  display: flex;
  justify-content: space-between;
}

header a{
  margin: 20px 0;
  text-decoration: none;
  color:inherit;
}

header a.logo{
  font-weight: bold;
}

header nav{
  display: flex;
  gap: 15px;

}

Link:hover{
  text-decoration: underline;
}
img{
  max-width: 100%;
}

div.post {
  display: flex;
  align-items: center;
  width: 70%;
}

div.post img{
  height: 20%;
  width: 30%;
  margin-left: 300px;
  margin-right: 20px;
}

div.post p{
  margin:0;
  font-size: 1 rem;
}

form.login h1, form.register h1{
  text-align: center;
}
form.login, form.register{
  max-width: 400px;
  margin: 0 auto;
}